


// ==========================================================================
// Global settings

// This is the default html and body font-size for the base rem value.
// Grid, List , Paragrpah are calculated based on this number and variable
$rem-base: 16px;

// global colors
$white    :#fff;
$black    :#222;
$anchor :#e80872;
$hr         : #DDDDDD;
// @pagination colors
$jet                    : #222222;
$aluminum       : #999999;
$white               : #FFFFFF;
$primary-color: #008CBA;


//global radius
$global-radius: 4px;

//body
$body-bg: $white;
$body-font-color: $black;
$body-font-weight: normal;

//font
$font-droid:        Droid Arabic Kufi, serif;
$font-roboto:      Roboto, sans-serif;
//use font
:lang(en) {font-family: $font-roboto;}
:lang(ar) {font-family: $font-droid;}


body {
  background-color: $body-bg;
  color: $body-font-color;
  font-weight: $body-font-weight;
}

// ==========================================================================
// Paragraph

// We use these to style paragraphs
$paragraph-font-family: inherit;
$paragraph-font-weight: normal;
$paragraph-font-size: 1rem;
$paragraph-line-height: 1.6;
$paragraph-margin-bottom: rem-calc(20);
$paragraph-text-rendering: optimizeLegibility;

// A general <small> styling
$small-font-size: 80% !default;
$small-font-color: scale-color($black, $lightness: 55%) !default;

// ==========================================================================
// Anchor

$anchor-text-decoration: none !default;
$anchor-text-decoration-hover: none !default;
$anchor-font-color: $anchor !default;
$anchor-font-color-hover: scale-color($anchor, $lightness: -34%) !default;

// ==========================================================================
// Headings settings

// We use these to control header font sizes
$h1-font-size: rem-calc(44) !default; 
$h2-font-size: rem-calc(37) !default;
$h3-font-size: rem-calc(27) !default;
$h4-font-size: rem-calc(23) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem !default;

// We use these to control header size reduction on small screens
// To change small-onlly go to base/headings
$h1-font-reduction: rem-calc(10) !default;
$h2-font-reduction: rem-calc(10) !default;
$h3-font-reduction: rem-calc(5) !default;
$h4-font-reduction: rem-calc(5) !default;
$h5-font-reduction: 0 !default;
$h6-font-reduction: 0 !default;

// These control how subheaders are styled.
$subheader-line-height: 1.4 !default;
$subheader-font-color: scale-color($black, $lightness: 35%) !default;
$subheader-top-margin: .2rem !default;
$subheader-bottom-margin: .5rem !default;
$subheader-border-bottom: solid 1px scale-color($black, $lightness: 80%) !default;

// We use these to control header font styles
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  margin-top: .2rem;
  margin-bottom: .5rem;
  line-height:  1.4;
  font-weight: normal;
}

.subheader { 
  @include subheader; 
}

// ==========================================================================
// Grid Settings

// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be different and not have it affect the grid breakpoints comment line 8 $rem-base and uncomment this
//$base-font-size:14px;
//$rem-base: $base-font-size;

// We use these to style grid
$include-html-grid-classes: true !default;                   // Set to false for semantic grid
$row-width: rem-calc(1000) !default;                         // Set site width 
$column-gutter: rem-calc(15) !default;                     // Set margin on columns
$total-columns: 12 !default;                                       // Set number of columns
$last-child-float: $opposite-direction !default;      //  Don't change this, this variable

// ==========================================================================
// Block-grid settings

// We use these to style block-grid
$include-html-block-grid-classes: true !default;                    // Set to false for semantic  HTML
$block-grid-elements: 12 !default;                                          // We use this to control the maximum
$block-grid-default-spacing: rem-calc(20) !default;           //  Number of block grid elements per row      
$align-block-grid-to-grid: true !default;                             //   Remove margin/padding 
$block-grid-media-queries: true !default;                        //  Enables media queries for block-grid classes. Set to false for semantic  HTML.


// ==========================================================================
// Lists settings

// We use these to style lists
$list-font-size: 1rem !default;
$list-font-family: inherit !default;
$list-line-height: 1.6;
$list-margin-bottom: rem-calc(20) !default;
$list-side-margin-no-bullet: 0 !default;
$list-ordered-side-margin: 1.4rem !default;
$list-style-position: inside;
$list-side-margin: 0;
$list-nested-margin: rem-calc(20);

//Disc List, Circle List, Square List, No-bullet list
//<ul class="disc">
//<ul class="circle">
//<ul class="square">
//<ul class="no-bullet">

// ==========================================================================
// Pagination settings

// We use these to style pagination
$include-pagination-classes: true !default;        // Set to false for semantic 
$centered: true;                                                      // Left or center align the li elements. Default: true. False for semantic 
$base-styles: true;                                                // Sets base styles for pagination. Default: true. False for semantic 

// We use these to control the pagination container
$pagination-height: rem-calc(24);
$pagination-margin: rem-calc(-5);

// We use these to set the list-item properties
$pagination-li-float: $default-float;
$pagination-li-height: rem-calc(24);
$pagination-li-font-color: $jet;
$pagination-li-font-size: rem-calc(14);
$pagination-li-margin: rem-calc(5);

// We use these for the pagination anchor links
$pagination-link-pad: rem-calc(5 10 5);
$pagination-link-font-color: $aluminum;
$pagination-link-active-bg: scale-color($white, $lightness: -10%);

// We use these for disabled anchor links
$pagination-link-unavailable-cursor: default;
$pagination-link-unavailable-font-color: $aluminum;
$pagination-link-unavailable-bg-active: transparent;

// We use these for currently selected anchor links
$pagination-link-current-background: $primary-color;
$pagination-link-current-font-color: $white;
$pagination-link-current-font-weight: bold;
$pagination-link-current-cursor: default;
$pagination-link-current-active-bg: $primary-color;

// ==========================================================================
// Visibility settings

// We use these to style visibility
$include-html-visibility-classes: true !default;      // True - always, even for semantic (because of the @extend)
$include-accessibility-classes: false !default;        // False - only if not in use at all
$include-table-visibility-classes: false !default;
$include-legacy-visibility-classes: false !default;

// ==========================================================================
// HR settings

// HR element
$hr-border-width: 1px !default;
$hr-border-style: dotted !default;
$hr-border-color: $hr !default;
$hr-margin: rem-calc(20) !default;

//We use this to control HR style
hr {
  border: $hr-border-style $hr-border-color;
  border-width: $hr-border-width 0 0;
  clear: both;
  margin: $hr-margin 0 ($hr-margin - rem-calc($hr-border-width));
  height: 0;
}