<footer class="l-footer">
  <div class="l-footer-wrapper">
    <div class="footer-category">
      <p class="footer-category__title">العناية بالبشرة</p>
      <ul class="category__list">
        <li class="list__item"><a href="#" title="">وجه</a></li>
        <li class="list__item"><a href="#" title="">هيئة</a></li>
        <li class="list__item"><a href="#" title="">قدم</a></li>
        <li class="list__item"><a href="#" title="">أيادي</a></li>
        <li class="list__item"><a href="#" title="">متعددة</a></li>
        <li class="list__item"><a href="#" title="">نيوزيلندا</a></li>
        <li class="list__item"><a href="#" title="">معدات</a></li>
      </ul>
    </div>
    <div class="footer-category">
      <p class="footer-category__title">مستحضرات التجميل</p>
      <ul class="category__list">
        <li class="list__item"><a href="#" title="">وجه</a></li>
        <li class="list__item"><a href="#" title="">هيئة</a></li>
        <li class="list__item"><a href="#" title="">قدم</a></li>
        <li class="list__item"><a href="#" title="">أيادي</a></li>
        <li class="list__item"><a href="#" title="">متعددة</a></li>
        <li class="list__item"><a href="#" title="">نيوزيلندا</a></li>
        <li class="list__item"><a href="#" title="">معدات</a></li>
      </ul>
    </div>
    <div class="footer-category">
      <p class="footer-category__title">العناية الشخصية</p>
      <ul class="category__list">
        <li class="list__item"><a href="#" title="">وجه</a></li>
        <li class="list__item"><a href="#" title="">هيئة</a></li>
        <li class="list__item"><a href="#" title="">قدم</a></li>
        <li class="list__item"><a href="#" title="">أيادي</a></li>
        <li class="list__item"><a href="#" title="">متعددة</a></li>
        <li class="list__item"><a href="#" title="">نيوزيلندا</a></li>
        <li class="list__item"><a href="#" title="">معدات</a></li>
      </ul>
    </div>
    <div class="footer-category">
      <p class="footer-category__title">العناية بالشعر</p>
      <ul class="category__list">
        <li class="list__item"><a href="#" title="">وجه</a></li>
        <li class="list__item"><a href="#" title="">هيئة</a></li>
        <li class="list__item"><a href="#" title="">قدم</a></li>
        <li class="list__item"><a href="#" title="">أيادي</a></li>
        <li class="list__item"><a href="#" title="">متعددة</a></li>
        <li class="list__item"><a href="#" title="">نيوزيلندا</a></li>
        <li class="list__item"><a href="#" title="">معدات</a></li>
      </ul>
    </div>
  </div>
</footer>