<article class="media-small product">
  <div class="media-small__item"> <a href="#"> <img src="/assets/images/example-images/article-product.jpg" alt="image title"> </a> </div>
  <div class="media-small__body">
    <div class="w-rating"><img src="/assets/images/example-images/w-rates.png" alt="image title"></div>
    <a class="prodCount" href="#" title="" >17 الأخيرة (386 مجموع)</a>
    <h4 class="title">ثبت علميا الهباء الجوي لحماية</h4>
    <a class="link__readmore" href="#" title="" >اقرأ المزيد</a> </div>
</article>